*{
    padding : 0;
    margin : 0;
}

header{
    display : flex;
    align-items: center;
    border-color: 4px solid red;
    font-size: 1.1rem;
    width : 100%;
    height : 2rem;
    margin-left : 5rem;
    justify-content: space-around;
}

nav a{
    text-decoration: none;  
    padding : 2px;
    margin : 2px;
    border-radius: 2px solid black;
    color : grey;
   
}

h4{
    margin: 5px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color :aquamarine;
}
main{
    width : 100%;
    height  : 50vh;
}

.video{
    justify-content: space-evenly;
    padding : 10px;
    margin : 10px;
}

